%tr
  %td
    = invoice.ref_number
  %td
    %a.plain{href: invoice_path(invoice)}
      = invoice.title
  %td
    = I18n.l invoice.date, format: :month_year
  %td.value
    = number_to_currency invoice.value
  %td
    %span{class: "label label-" + invoice_label(invoice)}
      = I18n.t(:"activerecord.attributes.invoice.states.#{invoice.state}")
  %td
    .btn-group
      - if can? :read, invoice
        %a.btn.btn-default.btn-sm{href: invoice_path(invoice), title: I18n.t(:"actions.show")}
          %i.fa.fa-file
      - if can? :update, invoice
        %a.btn.btn-default.btn-sm{href: edit_invoice_path(invoice), title: I18n.t(:"actions.edit")}
          %i.fa.fa-edit
      - if can? :charge, invoice
        - charge_confirm = I18n.t(:"messages.confirm.charge")
        - if invoice.send_via_mail?
          - charge_confirm = I18n.t(:"messages.confirm.charge_mail")
        %a.btn.btn-primary.btn-sm{href: charge_invoice_path(invoice), title: I18n.t(:"actions.charge"), data: { method: "PUT", notyConfirm: charge_confirm } }
          %i.fa.fa-envelope
      - if can? :pay, invoice
        = link_to pay_invoice_path(invoice), title: I18n.t(:"actions.pay"), method: :put, class: "btn btn-success btn-sm" do
          %i.fa.fa-check-square-o
      - if can? :destroy, invoice
        %a.btn.btn-danger.btn-sm{href: invoice_path(invoice), title: I18n.t(:"actions.delete"), data: { method: "DELETE", notyConfirm: I18n.t(:"messages.confirm.delete") } }
          %i.fa.fa-trash
