.panel.panel-default
  .panel-heading
    .panel-title
      %strong
        = I18n.t(:"labels.panels.title.default")
  .list-group
    - if can? :update, invoice
      %a.list-group-item{href: edit_invoice_path(invoice)}
        %i.fa.fa-edit
        = I18n.t(:"actions.edit")

    - if can? :charge, invoice
      - charge_confirm = I18n.t(:"messages.confirm.charge")
      - if invoice.send_via_mail?
        - charge_confirm = I18n.t(:"messages.confirm.charge_mail")
      %a.list-group-item{href: charge_invoice_path(invoice), data: { method: "PUT", notyConfirm: charge_confirm } }
        %i.fa.fa-envelope
        = I18n.t(:"actions.charge")

    - if can? :pay, invoice
      = link_to pay_invoice_path(invoice), method: :put, class: "list-group-item" do
        %i.fa.fa-check-square-o
        = I18n.t(:"actions.pay")

    - if current_account.dropbox?
      = link_to archive_invoice_path(invoice), method: :put, class: "list-group-item" do
        %i.fa.fa-dropbox
        = I18n.t(:"actions.archive")

    - if invoice.send_via_mail?
      = link_to send_mail_invoice_path(invoice), method: :put, class: "list-group-item" do
        %i.fa.fa-send
        = I18n.t(:"actions.send_invoice")
    %a.list-group-item{href: invoice_path(invoice), data: { method: "DELETE", notyConfirm: I18n.t(:"messages.confirm.delete") } }
      %i.fa.fa-trash
      = I18n.t(:"actions.delete")
