- content_for :title do
  = I18n.t(:"meta.title.invoice.show", invoice_ref: invoice.ref_number)

.row#invoice{data: {id: invoice.id}}

  .col-xs-12.col-md-12
    .row
      .col-xs-12.col-md-9
        %h1
          = I18n.t(:"headlines.invoice.show", invoice_ref: invoice.ref_number)
          - if invoice.charged? && invoice.payment_due_date < Time.now
            %small
              %span.label.label-danger.due-label
                = I18n.t(:"labels.invoice.due", date: time_ago_in_words(invoice.payment_due_date))

      .col-xs-12.col-md-3
        .btn-group-responsive.pull-right.resource-nav
          = link_to I18n.t(:"nav.subnav.back"), back_path(invoices_path), class: "btn btn-default"

    .row
      .col-xs-12.col-md-8
        = render "preview"

      .col-xs-12.col-md-4
        .row
          .col-xs-12.col-md-12
            .btn-group.btn-group-justified-responsive.pull-right
              %a.ladda-button.btn.btn-primary.generate-invoice{data: {style: "expand-right", action: regenerate_pdf_invoice_path(invoice)}, onclick: "App.Invoice.generate($(this)); return false;", class: ('generating' if invoice.pdf_generating)}
                .span.generate{class: ('hide' if invoice.pdf_present_or_generating? )}
                  %i.fa.fa-download
                  = I18n.t(:"actions.create")
                .span.regenerate{class: ('hide' if invoice.pdf_not_present_and_not_generating?)}
                  %i.fa.fa-refresh
                  = I18n.t(:"actions.regenerate")

              %a.btn.btn-danger{href: invoice_path(invoice), data: { method: "DELETE", notyConfirm: I18n.t(:"messages.confirm.delete") } }
                %i.fa.fa-trash
                = I18n.t(:"actions.delete")

        %br

        .row
          .col-xs-12.col-md-12
            .panel.panel-default
              .panel-heading
                .panel-title
                  %strong
                    = I18n.t(:"labels.panels.title.downloads")
              .list-group
                = link_to invoice_pdf_path(invoice, invoice.invoice_file), target: "_blank", title: I18n.t(:"actions.download"), class: "save-invoice list-group-item#{(" disabled" if invoice.pdf_not_present_or_generating?)}" do
                  %i.fa.fa-download
                  = I18n.t(:"actions.download_invoice")
                = link_to timesheet_pdf_path(invoice, invoice.timesheet_file), target: "_blank", title: I18n.t(:"actions.download"), class: "save-timesheet list-group-item#{(" disabled" if invoice.timesheet_not_present_or_generating?)}#{(" hide" if invoice.timers.blank?)}" do
                  %i.fa.fa-download
                  = I18n.t(:"actions.download_timesheet")

        %br

        .row
          .col-xs-12.col-md-12
            = render "show_actions"

        - if invoice.send_via_mail?
          %br

          .row
            .col-xs-12.col-md-12
              = render "test_mail_form"

