- content_for :title do
  = I18n.t(:"meta.title.invoice.show", invoice_ref: invoice.ref_number)

.row#invoice{data: {id: invoice.id}}

  .col-xs-12.col-md-12
    .row
      .col-xs-12.col-md-9
        %h1
          = I18n.t(:"headlines.invoice.show", invoice_ref: invoice.ref_number)
          - if invoice.charged? && invoice.payment_due_date < Time.now
            %small
              %span.label.label-danger.due-label
                = I18n.t(:"labels.invoice.due", date: time_ago_in_words(invoice.payment_due_date))

      .col-xs-12.col-md-3
        .btn-group-responsive.pull-right.resource-nav
          = link_to I18n.t(:"nav.subnav.back"), back_path(invoices_path), class: "btn btn-default"

    .row
      .col-xs-12.col-md-8
        = render "preview"

      .col-xs-12.col-md-4.side-nav
        .row
          .col-xs-12.col-md-12
            .panel.panel-default
              .panel-heading
                .panel-title
                  %strong
                    = I18n.t(:"labels.panels.title.downloads")
              .list-group
                = link_to invoice_pdf_path(invoice, invoice.invoice_file), target: "_blank", class: "save-invoice list-group-item" do
                  %i.fa.fa-download
                  = I18n.t(:"actions.download_invoice")
                = link_to timesheet_pdf_path(invoice, invoice.timesheet_file), target: "_blank", class: "save-timesheet list-group-item#{(" hide" if invoice.timers.blank?)}" do
                  %i.fa.fa-download
                  = I18n.t(:"actions.download_timesheet")

        %br

        .row
          .col-xs-12.col-md-12
            = render "show_actions"

        - if invoice.send_via_mail?
          %br

          .row
            .col-xs-12.col-md-12
              = render "test_mail_form"

