.list-group-item
  = project.name_with_customer
.list-group-item.project-group-item
  .row.budget-label
    .col-xs-6.col-sm-6.col-md-6
      = number_to_currency project.timer_values, unit: "h", precision: 2
      - unless project.timer_values.zero? || project.timer_values_uninvoiced.zero?
        %span.label.label-default{data: {toggle: 'tooltip'}, title: I18n.t(:"labels.budget.uninvoiced")}
          = number_to_currency project.timer_values_uninvoiced, unit: "h", precision: 2
    .col-xs-6.col-sm-6.col-md-6.text-right
      = number_to_currency (project.budget - project.timer_values), unit: "h", precision: 2
  .progress.progress-slim.text-center{title: I18n.t(:"labels.budget.limit", hours: number_to_currency(project.budget, unit: "h", precision: 2)), data: {toggle: "tooltip"}}

    .progress-bar{class: budget_progress(project), role: "progressbar", aria: {valuemin: "0", valuemax: "100"}, style: "width: #{project.budget_percent_invoiced}%"}
    .progress-bar.progress-bar-success{role: "progressbar", aria: {valuemin: "0", valuemax: "100"}, style: "width: #{project.budget_percent_uninvoiced}%"}
