- featured ||= false
- active ||= nil
- type ||= nil
- hide_ctab ||= false
- css_class = []
- if featured
  - css_class << "featured"
- if active && active != type
  - css_class << "hide"
- elsif active == type
  - css_class << "signup"
.panel.panel-default.pricing-table{class: css_class.join(" ")}
  .panel-heading
    %h3.panel-title
      = type.capitalize
  %ul.list-group
    - I18n.t(:"prices.desc.#{type}").each do |key, text|
      %li.list-group-item
        = text.html_safe
  .panel-footer
    %h2
      = I18n.t(:"prices.price.#{type}").html_safe
    - unless hide_ctab
      %a.btn.btn-success.btn-lg{href: new_user_registration_path(plan: type)}
        = I18n.t(:"prices.ctab")