- content_for :title do
  = I18n.t(:"meta.title.dashboard")
.row#dashboard
  .col-xs-12.col-md-12
    %h1
      = I18n.t(:"headlines.dashboard")
    .row
      .col-xs-12.col-md-4
        .panel.panel-default
          .panel-heading
            .panel-title
              %strong
                = I18n.t(:"dashboard.panels.summary")
          .list-group
            .list-group-item
              = I18n.t(:"dashboard.panels.all_invoices")
              %strong.pull-right
                = number_to_currency(invoices_sum(@charged_invoices + @paid_invoices))
            .list-group-item
              = I18n.t(:"dashboard.panels.charged_invoices")
              %strong.pull-right
                = number_to_currency(invoices_sum(@charged_invoices))
            .list-group-item
              = I18n.t(:"dashboard.panels.paid_invoices")
              %strong.pull-right
                = number_to_currency(invoices_sum(@paid_invoices))
            - if current_account.provision.present?
              .list-group-item
                = I18n.t(:"dashboard.panels.provision")
                %strong.pull-right
                  = number_to_currency(invoices_sum(@paid_invoices) / 100 * current_account.provision.to_i)
              .list-group-item
                = I18n.t(:"dashboard.panels.last_provision", year: (Time.now - 1.year).year)
                %strong.pull-right
                  = number_to_currency(invoices_sum(@last_invoices) / 100 * current_account.provision.to_i)
            .list-group-item.disabled
              = I18n.t(:"dashboard.panels.last_invoices")
              %strong.pull-right
                = number_to_currency(invoices_sum(@last_invoices))

        = render "budgets_panel", budgets: @budgets

      .col-xs-12.col-md-8
        = render "invoices_panel", title: I18n.t(:"dashboard.panels.charged_invoices"), invoices: @charged_invoices, context: 'warning'

        - unless @invoices_max_values.sum.zero?
          :javascript
            window.invoicesChartData = #{@invoices_chart_data.to_json}
            window.invoicesMaxValues = #{@invoices_max_values.to_json}
          = render "chart_panel", title: I18n.t(:"dashboard.panels.invoices_chart", year: I18n.l(Date.today, format: :year)), id: 'invoices-chart'

        - unless @timers_chart_data.blank?
          :javascript
            window.timersChartData = #{@timers_chart_data.to_json}
          = render "chart_panel", title: I18n.t(:"dashboard.panels.timers_chart"), id: 'timers-chart'

        = render "invoices_panel", title: I18n.t(:"dashboard.panels.paid_invoices"), invoices: @paid_invoices, context: 'success'

        = render "invoices_panel", title: I18n.t(:"dashboard.panels.last_invoices"), invoices: @last_invoices
