- content_for :title do
  = I18n.t(:"meta.title.dashboard")
.row#dashboard
  .col-xs-12.col-md-12
    %h1
      = I18n.t(:"headlines.dashboard")
    .row
      .col-xs-12.col-md-4
        = render "overtime_panel"
        .panel.panel-default
          .panel-heading
            .panel-title
              %strong
                = I18n.t(:"dashboard.panels.summary")
          .list-group
            .list-group-item
              = I18n.t(:"dashboard.panels.uninvoiced")
              %strong.pull-right
                = number_to_currency(@uninvoiced_amount)
            .list-group-item
              = I18n.t(:"dashboard.panels.charged_invoices")
              %strong.pull-right
                = number_to_currency(@charged_invoices.sum(:value))
            .list-group-item
              = I18n.t(:"dashboard.panels.paid_invoices")
              %strong.pull-right
                = number_to_currency(@paid_invoices.sum(:value))
            .list-group-item
              = I18n.t(:"dashboard.panels.all_invoices")
              %strong.pull-right
                = number_to_currency((@charged_invoices + @paid_invoices).sum(&:value))
            .list-group-item.disabled
              = I18n.t(:"dashboard.panels.last_invoices", year: (Time.now - 1.year).year)
              %strong.pull-right
                = number_to_currency(@last_invoices.sum(:value))
            - if current_account.provision.present?
              .list-group-item
                = I18n.t(:"dashboard.panels.provision")
                %strong.pull-right
                  = number_to_currency(current_account.provision_value)
              .list-group-item.disabled
                = I18n.t(:"dashboard.panels.last_provision", year: (Time.now - 1.year).year)
                %strong.pull-right
                  = number_to_currency(current_account.last_provision_value)

        = render "expenses_panel" if @expenses.present? || @last_expenses.present?

        = render "budgets_panel", budgets: @budgets

      .col-xs-12.col-md-8
        - if @charged_invoices.present?
          = render "invoices_panel", panel_title: I18n.t(:"dashboard.panels.charged_invoices"), invoices: @charged_invoices, context: 'warning'
        :javascript
          window.invoicesChartData = #{@invoices_chart_data.to_json.html_safe}
        .panel.panel-default
          .panel-heading
            .panel-title
              %strong= I18n.t(:"dashboard.panels.invoices_chart", year: I18n.l(Date.today, format: :year))
          .panel-body
            .chart.chart-dashboard
              .chart-inner#invoices-chart

        - if @paid_invoices.present?
          = render "invoices_panel", panel_title: I18n.t(:"dashboard.panels.paid_invoices"), invoices: @paid_invoices, context: 'success'

        - if @last_invoices.present?
          = render "invoices_panel", panel_title: I18n.t(:"dashboard.panels.last_invoices", year: (Time.now - 1.year).year), invoices: @last_invoices

        - if @charged_invoices.blank? && @last_invoices.blank? && @paid_invoices.blank?
          = render "shared/blank"
