.row#dashboard
  .col-xs-12.col-md-12
    %h2
      Dashboard

    .row
      .col-xs-12.col-md-4
        .panel.panel-default
          .panel-heading
            .panel-title
              %strong
                = I18n.t(:"dashboard.panels.summary")
          .list-group
            .list-group-item
              = I18n.t(:"dashboard.panels.charged_invoices")
              %strong.pull-right
                = number_to_currency(invoices_sum(@charged_invoices))
            .list-group-item
              = I18n.t(:"dashboard.panels.paid_invoices")
              %strong.pull-right
                = number_to_currency(invoices_sum(@paid_invoices))
            .list-group-item
              = I18n.t(:"dashboard.panels.last_invoices")
              %strong.pull-right
                = number_to_currency(invoices_sum(@last_invoices))

      .col-xs-12.col-md-8
        = render "invoices_panel", title: I18n.t(:"dashboard.panels.charged_invoices"), invoices: @charged_invoices, context: 'warning'

        = render "invoices_panel", title: I18n.t(:"dashboard.panels.paid_invoices"), invoices: @paid_invoices, context: 'success'

        = render "invoices_panel", title: I18n.t(:"dashboard.panels.last_invoices"), invoices: @last_invoices
