- image_prefix = ''
#welcome
  %a#github-link{href: "https://github.com/reckoning/app"}
    %img{src: image_path("github.png"), alt: "Fork it on GitHub"}
  .row
    %a.anchor#intro
    .col-xs-12.col-md-12
      .page-header
        %h1
          = I18n.t(:"headlines.welcome.base")
          %br
          %small
            = I18n.t(:"sublines.welcome")

  .row
    %a.anchor#features
    .col-xs-12.col-md-12
      %h2.hide
        = I18n.t(:"headlines.welcome.screenshots")
      .row
        .col-xs-12.col-md-4
          %a.thumbnail{href: image_path("#{image_prefix}example-1.png")}
            = image_tag "#{image_prefix}example-1-small.png"
          %h4.text-center
            Rechnungen erstellen (inkl. PDF)
          %hr.visible-xs
        .col-xs-12.col-md-4
          %a.thumbnail{href: image_path("#{image_prefix}example-2.png")}
            = image_tag "#{image_prefix}example-2-small.png"
          %h4.text-center
            Rechnungsstatus erfassen
          %hr.visible-xs
        .col-xs-12.col-md-4
          %a.thumbnail{href: image_path("#{image_prefix}example-3.png")}
            = image_tag "#{image_prefix}example-3-small.png"
          %h4.text-center
            Datenbank für Kunden & Projekte

  %hr

  .row
    %a.anchor#features
    .col-xs-12.col-md-12
      %h2
        = I18n.t(:"headlines.welcome.features")

      :markdown
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum

        lorem ipsum

  %hr

  .row
    %a.anchor#pricing
    .col-xs-12.col-md-12
      %h2.hide
        = I18n.t(:"headlines.welcome.prices")
      .row
        .col-xs-12.col-md-3.col-md-offset-1
          = render "base/pricing_table", type: "free"
        .col-xs-12.col-md-4
          = render "base/pricing_table", type: "basic", featured: true
        .col-xs-12.col-md-3
          = render "base/pricing_table", type: "premium"

  %hr

  .row
    %a.anchor#contact
    .col-xs-12.col-md-12
      %h2.hide
        = I18n.t(:"headlines.welcome.contact")
      .row
        .col-xs-12.col-md-6.col-md-offset-3
          .well
            - if cookies[:contact].present?
              = render "base/contact_received"
            - else
              = render "base/contact_form"

  #image-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
            &times;
          %h4
        .modal-body
          %img{src: "", alt: "example-image"}

