%nav#main-nav.navbar.navbar-default.navbar-inverse{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-ex1-collapse'}}
        %span.sr-only
          = I18n.t(:"nav.header.toggle")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: backend_root_path, class: get_active_nav}
        = I18n.t(:"title.backend")

    .collapse.navbar-collapse.navbar-ex1-collapse
      - if user_signed_in?
        %ul.nav.navbar-nav
          %li{class: get_active_nav('backend_dashboard')}
            = link_to I18n.t(:"nav.header.dashboard"), backend_root_path
          %li{class: get_active_nav('backend_users')}
            = link_to I18n.t(:"nav.header.users"), backend_users_path

      = render 'layouts/user_nav'

