.panel.panel-default
  .panel-heading
    %h3.panel-title
      = I18n.t(:"labels.panels.title.latest_contacts", count: @contacts_count)
  %table.table.table-bordered.table-striped.table-condensed
    %thead
      %tr
        %th= I18n.t(:"labels.contact.email")
        %th= I18n.t(:"labels.contact.created_at")
    %tbody
      - @latest_contacts.each do |contact|
        %tr
          %td
            = contact.email
          %td
            = I18n.t(:"activerecord.attributes.contact.created_at", time: time_ago_in_words(contact.created_at))

      - if @latest_contacts.blank?
        = render "shared/tables/blank", count: 2, resource: :contact
