- Settings.each do |keypath, values|
  - if %i(base mailer).include?(keypath)
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = I18n.t(:"panels.title.settings.#{keypath}")
      .panel-body
        %table.table.table-bordered.table-striped.table-condensed
          %thead
            %tr
              %th= I18n.t(:"table.labels.setting.key")
              %th= I18n.t(:"table.labels.setting.value")
              %th.actions.one
          %tbody
            - values.each do |key, value|
              - path = "#{keypath}.#{key}"
              - setting = Setting.find_by_keypath(path)
              - value = setting.value if setting.present?
              %tr
                %td
                  = I18n.t(:"activerecord.attributes.setting.#{path}")
                %td
                  - if [TrueClass, FalseClass].include?(value.to_s.to_bool.class)
                    = I18n.t(value.to_s.to_bool.to_s)
                  - else
                    = value
                %td
                  .btn-group
                    - if setting.present?
                      %a.btn.btn-default.btn-sm{href: edit_backend_setting_path(setting), title: I18n.t(:"actions.edit")}
                        %i.glyphicon.glyphicon-edit
                    - else
                      %a.btn.btn-default.btn-sm{href: new_backend_setting_path(keypath: path), title: I18n.t(:"actions.edit")}
                        %i.glyphicon.glyphicon-edit

