- @settings.each do |root, values|
  - if %i(base mailer).include?(root)
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = I18n.t(:"labels.panels.title.settings.#{root}")
      %table.table.table-bordered.table-striped.table-condensed
        %tbody
          - values.each do |key, value|
            %tr
              %td
                = I18n.t(:"activerecord.attributes.setting.#{root}.#{key}")
              %td
                - if value.is_a?(TrueClass)
                  = I18n.t(:"#{value}")
                - else
                  = value
