.row
  .col-xs-6.col-md-6.form-group{class: form_error?(resource, :bank)}
    = form.text_field :bank, placeholder: I18n.t(:"helpers.placeholder.user.bank_account.bank"), class: 'form-control'
    %small
      = form_errors resource, :bank
  .col-xs-6.col-md-6.form-group{class: form_error?(resource, :bank_code)}
    = form.text_field :bank_code, placeholder: I18n.t(:"helpers.placeholder.user.bank_account.bank_code"), class: 'form-control'
    %small
      = form_errors resource, :bank_code
.row
  .col-xs-6.col-md-6.form-group{class: form_error?(resource, :account_number)}
    = form.text_field :account_number, placeholder: I18n.t(:"helpers.placeholder.user.bank_account.account_number"), class: 'form-control'
    %small
      = form_errors resource, :account_number
  .col-xs-6.col-md-6.form-group{class: form_error?(resource, :iban)}
    = form.text_field :iban, placeholder: I18n.t(:"helpers.placeholder.user.bank_account.iban"), class: 'form-control'
    %small
      = form_errors resource, :iban
.row
  .col-xs-6.col-md-6.form-group{class: form_error?(resource, :bic)}
    = form.text_field :bic, placeholder: I18n.t(:"helpers.placeholder.user.bank_account.bic"), class: 'form-control'
    %small
      = form_errors resource, :bic
