.row
  .col-xs-12.col-md-6.form-group{class: form_error?(resource, :email)}
    = form.email_field :email, placeholder: I18n.t(:"helpers.placeholder.user.email"), class: 'form-control', type: :email
    %small
      = form_errors resource, :email
  .col-xs-12.col-md-6.form-group
    = link_to I18n.t(:"nav.subnav.update_password"), edit_password_path, class: "btn btn-warning"

.row
  .col-xs-12.col-md-6.form-group{class: form_error?(resource, :gravatar)}
    = form.email_field :gravatar, placeholder: I18n.t(:"helpers.placeholder.user.gravatar"), class: 'form-control'
    %small
      = form_errors resource, :gravatar

  - if !current_user.otp_required_for_login
    = link_to "Enable 2FA", users_enable_otp_path, method: :post

  - if current_user.otp_required_for_login
    = link_to "Disable 2FA", users_disable_otp_path, method: :post
    = raw RQRCode::render_qrcode(current_user.otp_provisioning_uri(current_user.email, issuer: "Devise-Two-Factor-Demo"),
                                   :svg,
                                   :level => :l,
                                   :unit => 2)
    br
