- content_for :title do
  = I18n.t(:"meta.title.user.edit")
.row
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h2
          = I18n.t(:"headlines.account")

      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          = link_to I18n.t(:"nav.subnav.back"), root_path, class: "btn btn-default"

    = form_for @user, url: user_registration_path do |form|
      .row
        .col-xs-12.col-md-6.form-group{class: form_error?(@user, :email)}
          = form.email_field :email, placeholder: I18n.t(:"helpers.placeholder.user.email"), class: 'form-control', type: :email
          %small
            = form_errors @user, :email
        .col-xs-12.col-md-6.form-group
          = link_to I18n.t(:"nav.subnav.update_password"), edit_password_path, class: "btn btn-warning"
      .row
        .col-xs-12.col-md-6.form-group{class: form_error?(@user, :gravatar)}
          = form.email_field :gravatar, placeholder: I18n.t(:"helpers.placeholder.user.gravatar"), class: 'form-control'
          %small
            = form_errors @user, :gravatar
      %fieldset
        %legend
          Adressdaten
        = render "addresses/fields", resource: @user

      %fieldset
        %legend
          Steuern
        .row
          .col-xs-12.col-md-6.form-group
            .row.form-horizontal
              .col-xs-8.col-md-8
                %label{for: "setting_tax", class: "pull-right control-label"}
                  = I18n.t(:"activerecord.attributes.user_setting.tax")
              .col-xs-4.col-md-4
                .input-group{class: form_error?(@user, :tax_ref)}
                  = form.text_field :tax, class: 'form-control'
                  %small
                    = form_errors @user, :tax
                  %span.input-group-addon
                    = "%"
          .col-xs-12.col-md-6.form-group{class: form_error?(@user, :tax_ref)}
            = form.text_field :tax_ref, placeholder: I18n.t(:"helpers.placeholder.user_setting.tax_ref"), class: 'form-control'
            %small
              = form_errors @user, :tax_ref

      = render "layouts/forms/submit", path: root_path
