- content_for :title do
  = I18n.t(:"meta.title.user.edit")
.row
  .col-xs-12.col-md-12

    = render "users/header"

    .row
      .col-xs-12.col-lg-2.col-md-3.col-sm-3
        = render "users/nav"

      .col-xs-12.col-lg-10.col-md-9.col-sm-9
        = form_for @user, url: update_user_registration_path do |form|
          %input{name: "hash", value: "", type: :hidden}
          .tab-content
            .tab-pane.active#basic
              %fieldset
                %legend
                  = I18n.t(:"labels.user.settings.basic")
                = render "users/basic", form: form, resource: @user
            .tab-pane#security
              %fieldset
                %legend
                  = I18n.t(:"labels.user.settings.security")
                = render "users/security", form: form, resource: @user


          = current_user.otp_secret_key
          = image_tag("#{two_factor_qrcode_url}.png", :alt => 'Google Authenticator QRCode')

          = render "shared/forms/submit", path: root_path
