#pdf-footer><
  %address><
    - if resource.user.company.present?
      %strong
        = resource.user.company
      %br
      = resource.user.name
    - else
      %strong
        = resource.user.name
      %br
    %br
    = simple_format(resource.user.address)
  .contact-information><
    - if resource.user.telefon.present?
      Tel:
      = resource.user.telefon
      %br
    - if resource.user.fax.present?
      Fax:
      = resource.user.fax
      %br
    - if resource.user.public_email.present?
      = resource.user.public_email
    - else
      = resource.user.email
    %br
    - if resource.user.website.present?
      = resource.user.website
  .bank-information><
    - if resource.user.bank.present?
      = resource.user.bank
      %br
    = "IBAN: #{resource.user.iban}"
    %br
    = "BIC: #{resource.user.bic}"
    %br
    = "Konto: #{resource.user.account_number} | BLZ: #{resource.user.bank_code}"

