= form_for customer do |form|
  .tab-content
    .tab-pane.active#basic
      %fieldset
        %legend
          = I18n.t(:"labels.customer.basic")

        = render "addresses/fields", resource: customer

        .row
          .col-xs-12.col-md-6
            .form-group{class: form_error?(customer, :payment_due)}
              = form.text_field :payment_due, placeholder: I18n.t(:"helpers.placeholder.customer.payment_due"), class: 'form-control'
              = form_errors customer, :payment_due

    .tab-pane#email
      %fieldset
        %legend
          = I18n.t(:"labels.customer.email")

        .row
          .col-xs-12.col-md-6
            .form-group{class: form_error?(customer, :default_from)}
              = form.text_field :default_from, placeholder: I18n.t(:"helpers.placeholder.customer.default_from"), class: 'form-control'
              = form_errors customer, :default_from
          .col-xs-12.col-md-6
            .form-group
              %p.help-block
                = I18n.t(:"helpers.help.customer.default_from")
        .row
          .col-xs-12.col-md-6
            .form-group{class: form_error?(customer, :invoice_email)}
              = form.text_field :invoice_email, placeholder: I18n.t(:"helpers.placeholder.customer.invoice_email"), class: 'form-control'
              = form_errors customer, :invoice_email
        .row
          .col-xs-12.col-md-6
            .form-group{class: form_error?(customer, :email_template)}
              = form.text_area :email_template, placeholder: I18n.t(:"helpers.placeholder.customer.email_template"), class: 'form-control'
              = form_errors customer, :email_template
          .col-xs-12.col-md-6
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  Formatierung
              .list-group
                .list-group-item
                  %code{title: I18n.t(:"actions.paste"), data: {target: "#customer_email_template", toggle: "tooltip"}}
                    {date}
                  Rechnungsdatum
                .list-group-item
                  %code{title: I18n.t(:"actions.paste"), data: {target: "#customer_email_template", toggle: "tooltip"}}
                    {month}
                  Rechnungsmonat
                .list-group-item
                  %code{title: I18n.t(:"actions.paste"), data: {target: "#customer_email_template", toggle: "tooltip"}}
                    {company}
                  Name des Kunden

  = render "shared/forms/submit", path: customers_path
