= form_for customer do |form|

  = render "addresses/fields", resource: customer

  .row
    .col-xs-12.col-md-6.form-group{class: form_error?(customer, :payment_due)}
      = form.text_field :payment_due, placeholder: I18n.t(:"helpers.placeholder.customer.payment_due"), class: 'form-control'
      %small
        = form_errors customer, :payment_due

  = render "layouts/forms/submit", path: customers_path
