- content_for :title do
  = I18n.t(:"meta.title.customer.index")

.row#invoices
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h2
          = I18n.t(:"headlines.customer.index")

      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          = link_to I18n.t(:"nav.subnav.new_customer"), new_customer_path, class: "btn btn-default"

    .pull-right
      = paginate @customers

    = render partial: "table", :@customers => @customers

    .pull-right
      = paginate @customers
