= form_for project do |form|
  .row
    .col-xs-12.col-md-6
      .form-group.selectize{class: form_error?(project, :customer_id)}
        = form.collection_select :customer_id, customers, :id, :name, {include_blank: ""}, {placeholder: I18n.t(:"helpers.prompt.project.customer_id"), class: "js-customer-selectize"}
        = form_errors project, :customer_id
    .col-xs-12.col-md-6
      .form-group{class: form_error?(project, :name)}
        = form.text_field :name, placeholder: I18n.t(:"helpers.placeholder.name"), class: 'form-control'
        = form_errors project, :name

  .row
    .col-xs-6.col-md-2.form-group{class: form_error?(project, :rate)}
      = form.label :rate
      = form.number_field :rate, class: 'form-control'
      = form_errors project, :rate

    .col-md-4.hidden-xs.hidden-sm

    .col-xs-6.col-md-2.form-group{class: form_error?(project, :budget)}
      = form.label :budget
      = form.number_field :budget, class: "form-control", step: "any"
      = form_errors project, :budget

    .col-xs-12.col-md-4.form-group{class: form_error?(project, :budget_on_dashboard)}
      .checkbox
        = form.check_box :budget_on_dashboard
        = form.label :budget_on_dashboard
        = form_errors project, :budget_on_dashboard

  %fieldset
    %legend
      Aufgaben:

    .row#tasks
      = form.fields_for :tasks, project.tasks do |builder|
        = render 'task_fields', fields: builder
    .row
      .col-xs-12
        .btn-group-responsive.pull-right
          = link_to_add_fields form, :tasks, name: I18n.t(:"actions.add"), class: "btn btn-default", target: "#tasks" do
            %i.fa.fa-plus
            = I18n.t(:"actions.add_task")

  %br

  = render "shared/forms/submit", path: projects_path
