- @projects_by_customer.each do |customer, projects|
  .panel.panel-list{class: "panel-default"}
    .panel-heading
      .panel-title
        .row
          .col-xs-8.col-md-4.name
            %a{href: edit_customer_path(customer)}
              %strong
                = customer.name
            - if customer.employment_date && customer.weekly_hours
              = "Überstunden: #{decimal_to_time(customer.overtime)}"
          .col-md-2.hidden-xs.hidden-sm
            %span
              = I18n.t(:"labels.defaults.budget")
          .col-md-4.hidden-xs.hidden-sm
            %span
              = I18n.t(:"labels.defaults.hours")
          .col-xs-4.col-md-2
            .panel-list-action.pull-right
              %a.btn.btn-default{href: new_project_path(customer_uuid: customer), title: I18n.t(:"nav.subnav.new_project_for_customer", customer: customer.name), data: {toggle: 'tooltip'}}
                %i.fa.fa-plus
    .list-group
      = render partial: "projects/show", collection: projects.sort_by(&:name), as: :project
