- content_for :title do
  = I18n.t(:"meta.title.project.index")

.row#projects
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h1
          - if params.fetch(:state, nil)
            = I18n.t(:"headlines.project.index_archived")
          - else
            = I18n.t(:"headlines.project.index")

      .col-xs-12.col-md-4
        .btn-group.btn-group-justified-responsive.pull-right.resource-nav
          %a.btn.btn-primary{href: new_project_path}
            %i.fa.fa-plus
            = I18n.t(:"nav.subnav.new_project")

    .row
      .col-xs-12.col-md-6.filters
        .btn-group
          - if params.fetch(:state, nil)
            %a.btn.btn-default{href: url_for(state: nil)}
              = I18n.t(:"filter.project_state.all")
          - else
            %a.btn.btn-default{href: url_for(state: :archived)}
              = I18n.t(:"filter.project_state.archived")
      .col-xs-12.col-md-6
        = paginate @projects

    = render partial: "list"

    - if @projects.blank?
      = render partial: "shared/blank"

    .row
      .col-xs-12
        = paginate @projects
