- content_for :title do
  = I18n.t(:"meta.title.project.index")

.row#projects
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h1
          = I18n.t(:"headlines.project.index")

      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          = link_to I18n.t(:"nav.subnav.new_customer"), new_customer_path, class: "btn btn-default"
          = link_to I18n.t(:"nav.subnav.new_project"), new_project_path, class: "btn btn-default"

    .pull-right
      = paginate @customers

    = render partial: "table", :@customers => @customers

    .pull-right
      = paginate @customers
