- content_for :title do
  = I18n.t(:"meta.title.project.index")

.row#projects
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h1
          = I18n.t(:"headlines.project.index")

      .col-xs-12.col-md-4
        .btn-group-responsive.pull-right.resource-nav
          %a.btn.btn-primary{href: new_project_path}
            %i.fa.fa-plus
            = I18n.t(:"nav.subnav.new_project")

    .row
      .col-xs-12.col-md-6
        = render "shared/tables/filter", resource: "project", name: "state", filters: Project.states.reject {|state| state == :active}, translateable: true
      .col-xs-12.col-md-6
        .pull-right
          = paginate @customers

    = render partial: "list", customers: @customers

    .pull-right
      = paginate @customers
