- content_for :title do
  = I18n.t(:"meta.title.project.edit")

.row#show-project
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h1
          = I18n.t(:"headlines.project.show", name: project.name)

      .col-xs-12.col-md-4
        .btn-group.btn-group-justified-responsive.pull-right.resource-nav
          = link_to I18n.t(:"nav.subnav.back"), projects_path, class: "btn btn-default"
          %a.btn.btn-primary{href: edit_project_path(project)}
            %i.fa.fa-edit
            = I18n.t(:"actions.edit")
          %a.btn.btn-danger{href: v1_project_url(project), data: { redirect: projects_path, method: "DELETE", notyConfirm: I18n.t(:"messages.confirm.delete") } }
            %i.fa.fa-trash
            = I18n.t(:"actions.delete")

    .row
      .col-xs-12.col-md-6
        - unless @timers_chart_data.blank?
          :javascript
            window.projectChartData = #{project..to_json}
          = render "chart_panel", title: I18n.t(:"dashboard.panels.project_chart"), id: 'project-chart'

      .col-xs-12.col-md-6

    .row
      .col-xs-12.col-md-12.nav-tabs-table
        %ul.nav.nav-tabs{role: "tablist"}
          %li.active
            %a{href: "#invoices", role: "tab", data: { toggle: "tab" }}
              = I18n.t(:"labels.defaults.invoices")
          %li
            %a{href: "#timers", role: "tab", data: { toggle: "tab" }}
              = I18n.t(:"labels.defaults.timers")
          %li
            %a{href: "#tasks", role: "tab", data: { toggle: "tab" }}
              = I18n.t(:"labels.defaults.tasks")
        .tab-content
          .tab-pane.active#invoices
            = render "base/invoices_panel", invoices: project.invoices, context: "default"
          .tab-pane#timers
            = render "timers_panel", timers: project.timers, context: "default"
          .tab-pane#tasks
            = render "tasks_panel", tasks: project.tasks, context: "default"
