.modal.fade#add-row-modal{tabindex: "-1", role: "dialog", aria: {hidden: "true"}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
          &times;
        %h4.modal-title
          = I18n.t(:"labels.modals.title.timesheet")
      .modal-body
        %select#select-project{placeholder: I18n.t(:"helpers.prompt.timer.project")}
          %option{value: ""}
            Bitte Wählen
          - current_user.projects.all.each do |project|
            %option{value: project.id}
              = project.name_with_customer

        %hr

        %select#select-task{placeholder: I18n.t(:"helpers.prompt.timer.task")}
      .modal-footer
        %button.btn.btn-default{type: "button", data: {dismiss: "modal"}}
          = I18n.t(:"actions.close")
        %button.btn.btn-primary{type: "button", onclick: "App.Timesheet.addTask($(this), '#{@date.beginning_of_week}'); return false;", data: {loading: {text: I18n.t(:"actions.loading")}}}
          = I18n.t(:"actions.add")
