- content_for :title do
  = I18n.t(:"meta.title.timer.index")
.row
  .col-xs-12.col-md-12
    .row
      .col-xs-12.col-md-8
        %h1
          = "#{I18n.l(@date.beginning_of_week, format: :only_day)}."
          = " - "
          = I18n.l(@date.end_of_week, format: :long)
      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          %a.btn.btn-default{href: url_for(date: @date.prev_week)}
            = raw(t 'views.pagination.first')
          %a.btn.btn-default{href: url_for(date: Time.now.to_date), class: ("disabled" if @date.end_of_week == Time.now.to_date.end_of_week)}
            = I18n.t(:"labels.timesheet.current_week")
          %a.btn.btn-default{href: url_for(date: @date.next_week)}
            = raw(t 'views.pagination.last')

    = form_for week do |form|
      = form.hidden_field :start_date, value: @date.beginning_of_week
      .table-responsive
        %table.table.table-condensed.table-hover.timesheet
          %thead
            %tr
              %th
              - week_days_for(@date).each do |date|
                %th.text-right.timesheet-day{class: ("timesheet-today" if date == Time.now.to_date)}
                  = I18n.l(date, format: :day)
                  %br
                  = I18n.l(date, format: :short)
              %th.text-right.timesheet-row-sum
              %th
          %tbody
            - week.tasks.order('id ASC').each do |task|
              - sum = 0
              %tr
                %td
                  = task.project.name_with_customer
                  %br
                  = task.name
                - week_days_for(@date).each do |date|
                  %td.text-right.timesheet-day{class: ("timesheet-today" if date == Time.now.to_date)}
                    - timer = week.timers.where(date: date, task_id: task.id)
                    = form.fields_for :timers, timer do |builder|
                      - sum += builder.object.value.to_d unless builder.object.value.blank?
                      = render 'timer_fields', fields: builder
                    - if timer.blank?
                      = form.fields_for :timers, week.timers.new(task: task, date: date) do |builder|
                        = render 'timer_fields', fields: builder
                %td.text-right.timesheet-row-sum
                  %span
                    = (sum == 0 ? sum : decimal_to_time(sum))
                %td.timesheet-actions
                  = link_to remove_task_week_path(week, task), method: :put, class: "btn btn-default" do
                    &times;
          %tfoot
            - all_timers_by_date = week.timers.where(task_id: week.tasks.map(&:id)).group_by(&:date)
            %tr
              %td.text-right
                %button.btn.btn-default{type: "button", data: {toggle: "modal", target: "#add-row-modal"}}
                  = I18n.t(:"actions.add_timer")
                %button.btn.btn-primary{disabled: true}
                  = I18n.t(:"actions.save")
              - row_sum = 0
              - week_days_for(@date).each do |date|
                %td.text-right.timesheet-col-sum{class: ("timesheet-today" if date == Time.now.to_date)}
                  %span
                    - sum = 0
                    - if all_timers_by_date[date]
                      - all_timers_by_date[date].map { |timer| sum += timer.value.to_d unless timer.value.blank? }
                    = (sum.zero? ? sum : decimal_to_time(sum))
                    - row_sum += sum
              %td.text-right.timesheet-sum
                %span
                  = (row_sum.zero? ? row_sum : decimal_to_time(row_sum))
              %td
    .row
      .col-xs-12.col-md-8
      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          %a.btn.btn-primary{href: new_import_timers_path}
            = I18n.t(:"actions.timer_import")

= render "modal"
