- content_for :title do
  = I18n.t(:"meta.title.bank_account.edit")

.row#edit-user-setting
  .col-xs-12.col-md-12
    .row
      .col-xs-8.col-md-8
        %h1
          = I18n.t(:"headlines.bank_account.edit")

      .col-xs-4.col-md-4
        .btn-group.pull-right.resource-nav
          = link_to I18n.t(:"nav.subnav.back"), root_path, class: "btn btn-default"

    = form_for user, url: bank_account_path do |form|

      .row
        .col-xs-6.col-md-6.form-group{class: form_error?(user, :bank)}
          = form.text_field :bank, placeholder: I18n.t(:"helpers.placeholder.bank_account.bank"), class: 'form-control'
          %small
            = form_errors user, :bank
        .col-xs-6.col-md-6.form-group{class: form_error?(user, :bank_code)}
          = form.text_field :bank_code, placeholder: I18n.t(:"helpers.placeholder.bank_account.bank_code"), class: 'form-control'
          %small
            = form_errors user, :bank_code
      .row
        .col-xs-6.col-md-6.form-group{class: form_error?(user, :account_number)}
          = form.text_field :account_number, placeholder: I18n.t(:"helpers.placeholder.bank_account.account_number"), class: 'form-control'
          %small
            = form_errors user, :account_number
        .col-xs-6.col-md-6.form-group{class: form_error?(user, :iban)}
          = form.text_field :iban, placeholder: I18n.t(:"helpers.placeholder.bank_account.iban"), class: 'form-control'
          %small
            = form_errors user, :iban
      .row
        .col-xs-6.col-md-6.form-group{class: form_error?(user, :bic)}
          = form.text_field :bic, placeholder: I18n.t(:"helpers.placeholder.bank_account.bic"), class: 'form-control'
          %small
            = form_errors user, :bic

      = render "layouts/forms/submit", path: root_path
