!!!
%html{lang: I18n.locale}
  %head
    %meta{charset: "utf-8"}

    :plain
      <link rel="mask-icon" href="#{asset_url('favicon.svg')}" color="#428bca">
      <link rel="shortcut icon" type="image/png" href="#{asset_url('favicon.png')}">

    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=no"}

    %meta(name="google-site-verification" content="Ff-90jxpaoaNW0wA-Ysj6TPo-PYd8_u3sAeecvfu_Y4")

    %title=content_for?(:title) ? title(yield(:title)) : title
    %meta{name: "description", content: I18n.t(:"meta.description.default")}
    %meta{name: "keywords", content: I18n.t(:"meta.keywords.default")}

    %meta{name: "mobile-web-app-capable", content: "yes"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{name: "apple-mobile-web-app-status-bar-style", content: "black"}

    = favicon_link_tag asset_url('touch-icon-iphone.png'), rel: "apple-touch-icon", type: 'image/png'
    = favicon_link_tag asset_url('touch-icon-ipad.png'), rel: "apple-touch-icon", sizes: "76x76", type: 'image/png'
    = favicon_link_tag asset_url('touch-icon-iphone-retina.png'), rel: "apple-touch-icon", sizes: "120x120", type: 'image/png'
    = favicon_link_tag asset_url('touch-icon-ipad-retina.png'), rel: "apple-touch-icon", sizes: "152x152", type: 'image/png'
    = favicon_link_tag asset_url('touch-icon-ipad-retina.png'), rel: "apple-touch-startup-image"

    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900"
    = stylesheet_link_tag "application"

    = javascript_include_tag "//cdn.ravenjs.com/1.1.15/jquery,native/raven.min.js"
    = javascript_include_tag "application"
    = render 'layouts/js_defaults'

    != csrf_meta_tags

  %body{data: {success: flash[:success], info: notice, error: alert}}
    - if user_signed_in? || content_for?(:main_nav)
      - if backend?
        = render "layouts/backend/navigation"
      - else
        = render "layouts/navigation"
    .container
      != yield

    = render "layouts/footer"
    - if Rails.env.production? && !backend?
      = render "layouts/google_analytics"
      = render "layouts/sentry"
