!!!
%html{lang: I18n.locale}
  %head
    %meta{charset: "utf-8"}

    = favicon_link_tag asset_url('favicon.png')
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=no"}
    %meta(name="google-site-verification" content="Ff-90jxpaoaNW0wA-Ysj6TPo-PYd8_u3sAeecvfu_Y4")

    %title=content_for?(:title) ? "#{yield(:title)} - #{I18n.t(:"meta.title.default")}" : I18n.t(:"meta.title.default")
    %meta{name: "description", content: I18n.t(:"meta.description.default")}
    %meta{name: "keywords", content: I18n.t(:"meta.keywords.default")}

    %meta{name: "mobile-web-app-capable", content: "yes"}
    = favicon_link_tag asset_url('icon-196.png'), rel: "shortcut icon", type: 'image/png'

    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{name: "apple-mobile-web-app-status-bar-style", content: "black"}

    = favicon_link_tag asset_url('touch-icon-iphone.png'), rel: "apple-touch-icon", type: 'image/png'
    = favicon_link_tag asset_url('touch-icon-ipad.png'), rel: "apple-touch-icon", sizes: "76x76", type: 'image/png'
    = favicon_link_tag asset_url('touch-icon-iphone-retina.png'), rel: "apple-touch-icon", sizes: "120x120", type: 'image/png'
    = favicon_link_tag asset_url('touch-icon-ipad-retina.png'), rel: "apple-touch-icon", sizes: "152x152", type: 'image/png'

    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900"
    = stylesheet_link_tag "application"

    = javascript_include_tag "application"
    :javascript
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";

    != csrf_meta_tags

  %body{data: {success: notice, info: info, error: alert, warning: flash[:warning], spy: ("scroll" unless user_signed_in?), target: ".scrollspy-nav"}}
    - if backend?
      = render "layouts/backend/navigation"
    - else
      = render "layouts/navigation"

    .container
      != yield

    = render "layouts/footer"
    - if Rails.env.production? && !backend?
      = render "layouts/google_analytics"
