.row
  .col-xs-12.col-md-6
    .form-group{class: form_error?(resource, :address)}
      = form.text_area :address, placeholder: I18n.t(:"helpers.placeholder.address"), rows: 2, class: 'form-control'
      = form_errors resource, :address
  .col-xs-12.col-md-6
    .form-group{class: form_error?(resource, :country)}
      = form.text_field :country, placeholder: I18n.t(:"helpers.prompt.country"), class: 'form-control'
      = form_errors resource, :country
.row
  .col-xs-12.col-md-6
    .form-group{class: form_error?(resource, :telefon)}
      = form.text_field :telefon, placeholder: I18n.t(:"helpers.placeholder.telefon"), class: 'form-control'
      = form_errors resource, :telefon
  .col-xs-12.col-md-6
    .form-group{class: form_error?(resource, :fax)}
      = form.text_field :fax, placeholder: I18n.t(:"helpers.placeholder.fax"), class: 'form-control'
      = form_errors resource, :fax
.row
  .col-xs-12.col-md-6
    .form-group{class: form_error?(resource, :public_email)}
      = form.text_field :public_email, placeholder: I18n.t(:"helpers.placeholder.email"), class: 'form-control'
      = form_errors resource, :public_email
  .col-xs-12.col-md-6
    .form-group{class: form_error?(resource, :website)}
      = form.text_field :website, placeholder: I18n.t(:"helpers.placeholder.website"), class: 'form-control'
      = form_errors resource, :website
