.row
  .col-xs-12.col-md-6.form-group
    .row.form-horizontal
      .col-xs-8.col-md-8
        %label{for: "user_tax", class: "pull-right control-label"}
          = I18n.t(:"activerecord.attributes.user.settings.tax")
      .col-xs-4.col-md-4
        .input-group{class: form_error?(resource, :tax)}
          = form.text_field :tax, class: 'form-control'
          %small
            = form_errors resource, :tax
          %span.input-group-addon
            = "%"
  .col-xs-12.col-md-6.form-group{class: form_error?(resource, :tax_ref)}
    = form.text_field :tax_ref, placeholder: I18n.t(:"helpers.placeholder.user.settings.tax_ref"), class: 'form-control'
    %small
      = form_errors resource, :tax_ref
.row
  .col-xs-12.col-md-6.form-group
    .row.form-horizontal
      .col-xs-8.col-md-8
        %label{for: "user_provision", class: "pull-right control-label"}
          = I18n.t(:"activerecord.attributes.user.settings.provision")
      .col-xs-4.col-md-4
        .input-group{class: form_error?(resource, :provision)}
          = form.text_field :provision, class: 'form-control'
          %small
            = form_errors resource, :provision
          %span.input-group-addon
            = "%"
