- content_for :title do
  = I18n.t(:"meta.title.sign_up")
- content_for :js_includes do
  = javascript_include_tag "https://checkout.stripe.com/checkout.js"
- content_for :hide_footer, true

= form_for @account, url: registration_path, html: {class: "form-registration"} do |form|
  %h1.form-registration-heading
    %a{href: root_path}= I18n.t(:"title.default")
    %small=I18n.t(:"headlines.sign_up")

  = form.hidden_field :stripe_email
  = form.hidden_field :stripe_token

  .form-group{class: form_error?(@account, :name)}
    = form.text_field :name, autocomplete: "off", placeholder: I18n.t(:"helpers.placeholder.account.name"), class: 'form-control'
    = form_errors @account, :name

  - if @account.on_plan?(:free)
    = form.hidden_field :plan, value: params[:plan] || @account.plan
  - else
    .form-group.selectize{class: form_error?(@account, :plan)}
      %select.js-selectize{name: "account[plan]", id: "account_plan"}
        - Plan.all.each do |plan|
          %option{value: plan.code, selected: (true if plan.code == @account.plan || plan.code == params[:plan]), data: {data: plan.to_serialized_json}}
            = plan.name
      = form_errors @account, :plan

  %hr

  = form.fields_for :users, @account.users do |fields|
    .form-group{class: form_error?(fields.object, :email)}
      = fields.email_field :email, autocomplete: "off", placeholder: I18n.t(:"helpers.placeholder.user.email"), class: 'form-control'
      = form_errors fields.object, :email

    .form-group{class: form_error?(fields.object, :password)}
      = fields.password_field :password, autocomplete: "off", placeholder: I18n.t(:"helpers.placeholder.user.password"), class: 'form-control'
      = form_errors fields.object, :password

    .form-group{class: form_error?(fields.object, :password_confirmation)}
      = fields.password_field :password_confirmation, autocomplete: "off", placeholder: I18n.t(:"helpers.placeholder.user.password_confirmation"), class: 'form-control'
      = form_errors fields.object, :password_confirmation

  %hr

  .form-group{class: form_error?(@account, :vat_id)}
    = form.text_field :vat_id, placeholder: I18n.t(:"helpers.placeholder.account.vat_id"), class: 'form-control'
    = form_errors @account, :vat_id

  .form-group{class: form_error?(@account, :subdomain)}
    .input-group
      = form.text_field :subdomain, placeholder: I18n.t(:"helpers.placeholder.subdomain"), class: 'form-subdomain form-control'
      = form.label :subdomain, class: "input-group-addon" do
        = ".#{Rails.application.secrets[:domain]}"
    = form_errors @account, :subdomain

  %br

  %button.btn-block.btn.btn-primary.btn-lg.btn-loading{data: {loading: {text: I18n.t(:"actions.loading")}}}
    = I18n.t(:"actions.sign_up")
  .clearfix

  %hr

  %p.text-center=I18n.t(:"info.sign_in")
  %a.btn.btn-default.btn-block{href: new_user_session_path}
    = I18n.t(:"actions.sign_in")
